
{if $enable}
    <div class="row">
    {if $results == null}
        <h2>Nothing found :(</h2>
    {else}
        {foreach $results as $item}
            <div class="col-sm-6 col-md-4">
                <a href="https://www.themoviedb.org/movie/{$item->id}">
                    <div class="thumbnail">
                        {ifset $item->poster_path}
                        <img src="http://image.tmdb.org/t/p/w185{$item->poster_path}" alt="{$item->title}">
                        {else}
                        <img src="https://assets.tmdb.org/assets/f996aa2014d2ffddfda8463c479898a3/images/no-poster-w185.jpg" alt="{$item->title}">
                        {/ifset}


                        <div class="caption">
                            <h3>{$item->title} ({$item->release_date})</h3>
                            <p>{$item->vote_average} / 10<span class="glyphicon glyphicon-star star" aria-hidden="true"></span></p>
                            <p>{$item->overview}.</p>
                        </div>

                    </div>
                </a>
            </div>
        {/foreach}
    </div>
        {if $presenter->name == 'Random'}
            {if $page != 1}
                <a href={plink Random:filters, $page-1, array($genres), $year, $sort} class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            {/if}

            {if $totalPages > 1}
                {$page} / {$totalPages}
            {/if}

            {if $page < $totalPages}
                <a href={plink Random:filters, $page+1, array($genres), $year, $sort} class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            {/if}
        {/if}

        {if $presenter->name == 'Search'}
            {if $page != 1}
                <a href={plink Search:default, $page-1, $searched} class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            {/if}

            {if $totalPages > 1}
                {$page} / {$totalPages}
            {/if}

            {if $page < $totalPages}
                <a href={plink Search:default, $page+1, $searched} class="btn btn-default btn-lg">
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </a>
            {/if}
        {/if}
    {/if}


{/if}