{block title}
    Find Fun
{/block}

{block content}

<div id="content">
    <div class="page-header">
        <h1>Filter movies</h1>
    </div>

    {control filters}

    {control movieList}
</div>
{/block}

{block scripts}
{include parent}

{/block}


{block head}
{/block}
