{block title}
    Find Fun
{/block}

{block content}

<div id="content">
    <div class="page-header">
        <h1>Random movie</h1>
    </div>
    Filter na rok
    Combobox na zanry
    Popularita 0 az 10
</div>
{/block}

{block scripts}
{include parent}

{/block}


{block head}
{/block}
