{block title}
    Info
{/block}

{block content}

<div id="content">
    <div class="page-header">
        <h1>Welcome</h1>
    </div>
    <p>
    This page will help you find movies :)




    </p>

</div>
{/block}

{block scripts}
{include parent}

{/block}


{block head}
{/block}
